{% extends 'base.html' %} 

{% load bootstrap4 %}


{% block content %}
<div class="container">
<p>home page</p>
<a href="{% url 'login' %}">login</a>
<a href="{% url 'create_interest' %}">create interest</a>

{% for interest in interests %} 
    <div class='object'>
        <p><a href="{% url 'interest' interest.id %}">{{ interest.name }}</a></p>
        <a href="{% url 'update_interest' interest.id %}">update</a>
        <a href="{% url 'delete_interest' interest.id %}">delete</a>
        <a href="{% url 'join_interest' interest.id %}">become a member</a>
        <a href="{% url 'quit_interest' interest.id %}">quit</a>

    </div>
{% endfor %}
</div>

{% endblock %}